@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    font-family: "Inter", sans-serif;
    @apply bg-dark text-white;
    @apply w-full h-full;

    --range-slider: rgb(38, 38, 38);
    --range-handle-inactive: #da0037;
    --range-handle-focus:#ff5361;
    --range-range: #da0037;
    --range-handle:#da0037;

    --toastBorderRadius: 0.375rem;
    --toastBarBackground: rgb(218, 0, 55);
    --toastBackground: rgb(23, 23, 23);
  }

  #app {
    @apply flex justify-center relative;
    @apply p-2 pb-20 relative;
    @apply min-h-full z-10;
  }
}

@layer utilities {
  .checkbox {
    @apply appearance-none;
    @apply w-5 h-5 rounded-md;
    @apply bg-neutral-800;
    @apply checked:bg-[url('/tick.svg')] checked:bg-red-primary;
  }

  .button {
    @apply bg-red-primary hover:bg-neutral-800 transition-colors;
    @apply p-2 rounded-md;
    @apply font-semibold;
  }

  .b-with-icon {
    @apply flex items-center gap-3;
  }

  .b-with-icon img {
    @apply h-9 w-9;
  }

  .footer {
    @apply fixed p-2;
    @apply bottom-0 right-0 left-0;
    @apply border-neutral-700 rounded-md;
    @apply bg-neutral-900 text-neutral-500;
    @apply font-semibold text-sm;
  }

  .icon {
    @apply p-1;
    @apply hover:bg-red-primary transition-colors;
    @apply rounded-md;
  }
}

@layer components {
  .page-content {
    @apply flex flex-col gap-2;
    @apply mt-10;
  }

  .setting-background {
    @apply bg-neutral-900 rounded-md p-2;
  }
}
