@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", sans-serif;
    @apply bg-neutral-950 text-neutral-300;
  }

  ::-webkit-scrollbar {
    @apply w-4;
    @apply rounded-full;
  }

  ::-webkit-scrollbar-thumb {
    background-clip: padding-box;

    @apply bg-neutral-200 dark:bg-neutral-800;
    @apply border-4 border-solid border-transparent;
    @apply rounded-full;
  }
}

@layer utilities {
  .mask {
    mask-image: linear-gradient(to top, black 50%, transparent);
  }

  .surface {
    transform: skew(-50deg, 20deg) translateY(10rem) translateX(18rem);
  }

  .hide-scroll::-webkit-scrollbar {
    @apply hidden;
  }
}
